<table>
    <tr>
        <td style="background-color: transparent; color:#086996; text-align:left">SELECCIÓN:</td>
        <td><select ng-model="timeSelection" ng-model-options="{ getterSetter: true }" class="ng-pristine ng-valid" style="background-color: transparent">
                <!-- <option value="A">TURNO A</option> -->
                <option value="B">TURNO</option>
                <option value="C">DÍA</option>              
            </select>
        </td>
        <td style="background-color: transparent; color:transparent">In</td>
        <td>
            <button type="button" ng-click="search()" style="text-align:center; background-color: #086996; border-color: #086996; border-width: 3px; border-style: solid; border-radius:5px;"> <b style="color: white;">CARGAR</b></button>
        </td>
    </tr>
</table>
