<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;">
    <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">Display Options to Waterfall</span>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label>Título</label>
                <input type="text" class="" style="text-align:center;margin-left:10px;" ng-model="config.customTitle">
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Texto Título</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.fontSizeTitle">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.boldTitle">Bold<br />
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Texto Axis</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.fontSizeAxis">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.boldAxis">Bold<br />
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Texto Valores</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.fontSizeValues">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.showAllValueLabels">Show<br/>
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Texto Etiqueta</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.fontSizeBalloon">
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Ancho Columna</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.columnWidth">
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">               
                <label style="width:100px">Tamaño Línea</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.dash">
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px" >Bullet</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.bulletSize">
                <input type="checkbox" class="c-config-checkbox" ng-model="config.bulletEnabled">Show<br/>
            </label>
            <div class="config-option-format">
                <select ng-model="config.shape" ng-model-options="{ getterSetter: true }" config="config" class="config-option-single-row-input ng-pristine ng-valid" style="margin-top: 10px;background-color:transparent;padding:4px;">
                    <option selected="selected" value="round">Círculo</option>
                    <option value="square">Cuadrado</option>
                    <option value="diamond">Diamante</option>
                </select>
            </div>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Cursor</label>
                <input type="checkbox" class="c-config-checkbox" ng-model="config.enabledCursor">Show<br/>
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Decimal</label>
                <input type="number" class="" style="margin-left:8px" ng-model="config.decimalPlaces">
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Decimal Separator</label>
                <input type="text" class="" style="margin-left:8px; width: 20px;" ng-model="config.decimalSeparator">
            </label>
        </div>
        <div style="margin: 8px 0;">
            <label class="flex-align-center" style="margin-top:8px; margin-left: 8px;font-size:14px;">
                <label style="width:100px">Thousands Separator</label>
                <input type="text" class="" style="margin-left:8px; width: 20px;" ng-model="config.thousandsSeparator">
            </label>
        </div>
    </li>
    <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">Colores</span>
        <div style="margin: 8px 0;">
            <div class="config-option-format">
                <pv-color-picker id="colorTitle" ng-model="config.colorTitle" config="config" colorkeyword="Título">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorTextAxis" ng-model="config.colorTextAxis" config="config" colorkeyword="Texto Ejes">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="colorTextValues" ng-model="config.colorTextValues" config="config" colorkeyword="Texto Valores">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="lineColor" ng-model="config.lineColor" config="config" colorkeyword="Referencia">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="initialColor" ng-model="config.initialColor" config="config" colorkeyword="Planeados">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="totalColors" ng-model="config.totalColor" config="config" colorkeyword="Totales">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="positiveColor" ng-model="config.positiveColor" config="config" colorkeyword="Aumentos">
                </pv-color-picker>
            </div>
            <div class="config-option-format">
                <pv-color-picker id="negativeColor" ng-model="config.negativeColor" config="config" colorkeyword="Decrementos">
                </pv-color-picker>
            </div>
        </div>
    </li>
</ul>