<div id="monthyear" ng-show="config.selectedView === 'monthyear'" style="display: flex; align-items: center; gap: 10px; font-size: 2em;">
    <div style="background-color: transparent; color:#005da9; text-align:left; padding: 8px;">Mes:</div>
    <div>
        <select ng-model="timeED.month" ng-model-options="{ getterSetter: true }" class="ng-pristine ng-valid" style="background-color: transparent; border: none; border-bottom: 1px solid #005da9; padding: 6px;">
            <option ng-repeat="month in config.months" value="{{month.id}}" style="padding: 8px; font-size: 0.4em;">{{month.name}}</option>
        </select>
    </div>
    <div style="background-color: transparent; color:transparent">In</div>
    <div style="background-color: transparent; color:#005da9; text-align:left; padding: 8px;">Año:</div>
    <div>
        <input type="text" class="text-input receiver" ng-model="timeED.year" maxlength="4" size="4" min="2018" max="2050" placeholder="Ingre..." style="border: none; border-bottom: 1px solid #005da9; padding: 8px; width: 120px; font-size: 1em;">
    </div>
    <div style="background-color: transparent; color:transparent">In</div>
    <div>
        <button type="button" ng-click="search()" style="text-align:center; background-color: #005da9; border: none; border-radius: 5px; color: white; padding: 8px 16px;"> <b>BUSCAR</b></button>
    </div>
</div>

<div id="year" ng-show="config.selectedView === 'year'" style="display: flex; align-items: center; gap: 10px; font-size: 2em;">
    <div style="background-color: transparent; color:#005da9; text-align:left; padding: 8px;">Año:</div>
    <div>
        <select ng-model="yearED.year" class="ng-pristine ng-valid" style="background-color: transparent; border: none; border-bottom: 1px solid #005da9; padding: 6px;">
            <option ng-repeat="year in config.years" value="{{year.id}}" style="padding: 8px; font-size: 0.4em;">{{year.name}}</option>
        </select>
    </div>
    <div>
        <button type="button" ng-click="search()" style="text-align:center; background-color: #005da9; border: none; border-radius: 5px; color: white; padding: 8px 16px;"> <b>BUSCAR</b></button>
    </div>
</div>