<ul kendo-panel-bar class="t-side-panel-bgcolor"> 
	<li class="k-state-active"> 
		<span class="panel-bar-label-no-wrap">Horarios</span>
		<div class="config-option-format" style="margin-top:8px; margin-left: 35px;font-size:14px;">
            <label style="width:100px"> Turno A: </label>
            <input type="text" class="" style="margin-left:20px" ng-model="config.startTurnA">
        </div>
        <div class="config-option-format" style="margin-top:8px; margin-left: 35px;font-size:14px;">
            <label style="width:100px"> Turno B: </label>
            <input type="text" class="" style="margin-left:20px" ng-model="config.startTurnB">
        </div>
	</li>
</ul>
