<table>
    <tr>
        <td style="background-color: transparent; color:#005da9; text-align:left">Mes:</td>
        <td><select ng-model="timeED.month" ng-model-options="{ getterSetter: true }" class="ng-pristine ng-valid" style="background-color: transparent">
                <option value="ENERO">Enero</option>
                <option value="FEBRERO">Febrero</option>
                <option value="MARZO">Marzo</option>
                <option value="ABRIL">Abril</option>
                <option value="MAYO">Mayo</option>
                <option value="JUNIO">Junio</option>
                <option value="JULIO">Julio</option>
                <option value="AGOSTO">Agosto</option>
                <option value="SETIEMBRE">Setiembre</option>
                <option value="OCTUBRE">Octubre</option>
                <option value="NOVIEMBRE">Noviembre</option>
                <option value="DICIEMBRE">Diciembre</option>
            </select>
        </td>
        <td style="background-color: transparent; color:transparent">In</td>
        <td style="background-color: transparent; color:#005da9; text-align:left">Año:</td>
        <td>
            <input type="text" class="text-input receiver" ng-model="timeED.year" maxlength="4" size="4" placeholder=" 2023 " />
        </td>
        <td style="background-color: transparent; color:transparent">In</td>
        <td>
            <button type="button" ng-click="search()" style="text-align:center; background-color: #005da9; border-color: #005da9; border-width: 3px; border-style: solid; border-radius:5px;"> <b style="color: white">BUSCAR</b></button>
        </td>
    </tr>
</table>